.white_background{
    -fx-background-color: #fff;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.table-view {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
}
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #696784;

}
.button{
    -fx-text-fill: white;
    -fx-background-color: #696784;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;

}